body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.vh-100 {
  height: 100vh;
  background-color: #f0f0f0;
}

.card {
  border-radius: 1rem;
}

.card .img-fluid {
  border-radius: 1rem 0 0 1rem;
}

.card i.fas.fa-cubes {
  color: #ff6219;
}

.card-body {
  color: black;
}
.card-body h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 4rem !important;
}
.register-link {
  color: #007bff!important;
  cursor: pointer;
  text-decoration: underline;
}

.card-body h1,
.card-body h5 {
  font-family: 'Montserrat', sans-serif;
}

.card-body h5 {
  letter-spacing: 1px;
}

.card-body a {
  color: #393f81;
  text-decoration: none;
}

.card-body a:hover {
  text-decoration: underline;
}

.btn-dark {
  width: 100%;
}
.custom-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.custom-popup-content {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  max-width: 400px;
  width: 90%;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.custom-popup-content button {
  margin-top: 1rem;
}
.modal.show.d-block {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
}

.modal-content {
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.modal-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.modal-content .btn-primary {
  background-color: #28a745;
  border-color: #28a745;
  width: 100%;
  margin-top: 10px;
}

.modal-content .btn-primary:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

@media (max-width: 991px) {
  .card .img-fluid {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;
  }
}

@media (max-width: 767px) {
  .card .img-fluid {
    border-radius: 1rem 1rem 0 0;
  }
}
@media (max-width: 1440px) {
  .card .img-fluid {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;
  }
}
